<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta content="">

    <script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqplot.cursor.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqplot.canvasAxisTickRenderer.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui.theme.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.jqplot.min.css" />

    <script type="text/javascript">
    $(document).ready(function() {

        var new_inv = [{% for temp in temperature_list %}['{{ temp.date|time:"H:i" }}', {{ temp.temperature }}],{% endfor %}];
        var plot1 = $( "#chart" ).jqplot('chart', [new_inv], {

            series:[
            {label:'Temperatura.'},
            ],

            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                    tickOptions:{
                      angle: -90,
                      formatString:''
                  }
              },
              yaxis:{
                tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                tickOptions:{
                    formatString:'%d',
                }
            }
        },
        highlighter: {
            show: true,
            sizeAdjust: 7.5,
            tooltipAxes: 'y'
        },
        cursor: {
            show: false
        }
    });
    });
    </script>

    <script type="text/javascript">

    function link_change()
    {
        var group = document.getElementById("chart_period");
        var form = document.getElementById("chart_form") || null;

        if(form)
        {
            form.action = '/'+group.value;
        }
    }
    </script>

</head>
<body>

    <form id="chart_form" action="" method="GET">
        <label for="chart_period">Okres</label>
        <select onchange="link_change()" id="chart_period">
{% for value, description in chart_types %}            <option value="{{ value }}"{% if value == chart_interval %} selected{% endif %}>{{ description }}</option>
{% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>  

    <h1>{{ title }}</h1>
    <div id="chart">
    </div>
</body>
</html>
